.container {
  //padding: .5rem;
  min-height: 100%;
  background: white;
}

.grid-x {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  height: 30px;
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: row;

  .grid-x-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
  }

  .legend-title {
    margin: auto;
  }
}

.grid-y {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  width: 30px;
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: column;

  .grid-y-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
  }

  .legend-title {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin: auto;
  }
}

.close-btn {
  position: absolute;
  right: .3rem;
  top: .3rem;
  z-index: 510;
}

.legend-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
