<div class="container" fxLayout="row" fxLayoutAlign="center none" style="overflow: auto">
  <div fxFlex="100%" style="display: flex; flex-direction: column; gap: .6rem">
    <mat-card>
      <mat-card-content style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row">
          <h1>User: {{user?.login}}</h1>
          <div style="flex-grow: 1"></div>
          <ng-container *ngIf="allowEdit">
            <ng-container *ngIf="!editMode; else editBtns">
              <button (click)="onEditClick()" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-template #editBtns>
              <button (click)="onSaveClick()" mat-icon-button>
                <mat-icon>save</mat-icon>
              </button>
            </ng-template>
          </ng-container>
        </div>
        <div *ngIf="!editMode; else editDescription" style="max-height: 30rem; overflow: auto;">
          <markdown [data]="user?.about"></markdown>
        </div>
        <ng-template #editDescription>
          <mat-form-field appearance="outline"
                          class="form-no-bottom-padding"
                          style="font-size: medium">
            <mat-label>About</mat-label>
            <textarea cdkTextareaAutosize [(ngModel)]="user!.about!" matInput placeholder="About"></textarea>
          </mat-form-field>
        </ng-template>

      </mat-card-content>
    </mat-card>

    <mat-card #scrollTo>
      <nav mat-tab-nav-bar mat-stretch-tabs [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let link of tabs"
           [disabled]="!link.enable"
           (click)="onTabChange(link.type)"
           [active]="activeTab == link.type">{{link.name}}</a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-card>


    <div *ngIf="(searchImagesResult?.total ?? 0) === 0 && !loading"
         class="search-result-placeholder-container">
      <div>Nothing found ＞︿＜</div>
    </div>
    <div *ngIf="loading"
         class="search-result-placeholder-container">
      <div style="display: flex; flex-direction: column">
        <div>Search (_　_)。゜zｚＺ</div>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="(searchImagesResult?.total ?? 0) > 0 && !loading"
         class="search-result-container">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: .5rem">
        <small-image-card *ngFor="let img of searchImagesResult?.images ?? []" [imageInfo]="img">
        </small-image-card>
      </div>
      <div style="flex-grow: 1"></div>
      <paginator [(page)]="page"
                 [totalPages]="totalPages"
                 (pageChange)="onPageChange()"></paginator>
    </div>

  </div>
</div>
