.container {
  padding: .5rem;
  min-height: 100%;
}
.album-preview-container {
  width: 10rem;
  height: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  .thumbnail {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

.info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .7rem;
}

.name-and-edit{

  gap: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.search-result-placeholder-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 4rem;
  gap: .8rem;
}
