
.search-result-placeholder-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 4rem;
  gap: .8rem;
}