
<image-viewer #imageViewer [showCloseButton]="true" (closeClick)="dialogRef.close()"></image-viewer>
<!--<<div mat-dialog-content><div style="display: flex; flex-direction: row; align-items: center">
  <span>View image</span>
  <div style="flex-grow: 1"></div>
  <button mat-icon-button
          (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

</div>

div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">No</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div>-->
