.album-card-container {
  width: 10rem;
  height: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  .thumbnail {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}


.gray-value{
  background-color: #ebebeb;
  padding: 0.2rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
}