.container {
  margin: 1.5rem;
}

.file-drop-area-wrap {
  position: relative
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.file-drop-area {
  &_disabled {
    filter: blur(4px);
  }
}

.preview-cards-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.props-container {
  display: flex;
  flex-direction: row;
  gap: .6rem;
  flex-wrap: wrap;

  .link-container {
    display: flex;
    flex-direction: row;
    gap: .3rem;
    width: max-content;
    align-items: center;
    border: gainsboro solid .05rem;
    padding-left: .3rem;

    .link {
      padding: .3rem;
    }
  }

  .prop-container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    border: gainsboro solid .05rem;
    padding: .3rem;
    max-width: max-content;

    .prop-name {
      font-weight: bold;
      color: gray;
    }

    .prop-value-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;

      .prop-value {
        padding: .2rem;
        background: #f1f1f1;
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.upload-image-preview-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 350px;

  &_error {
    border: #ff0000 solid;
  }

  &_yes {
    border: #00ff40 solid;
  }

  &_no {
    border: #e1e1e1 solid;
  }

  &_in_progress {
    border: #ffd900 solid;
  }

  .error-message {
    color: white;
    padding: .5rem;
    background: red;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    max-height: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
    }
  }
}