<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="100%" style="display: flex; flex-direction: column; gap: 1rem">
    <mat-card>
      <nav mat-tab-nav-bar mat-stretch-tabs [tabPanel]="tabPanel">
        <ng-container *ngFor="let link of tabs">
          <a mat-tab-link
             [disabled]="!link.enable"
             (click)="onTabChange(link.type)"
             [active]="activeTab == link.type">{{link.name}}
          </a>
        </ng-container>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-card>

    <upload-image *ngIf="activeTab === 'image'"></upload-image>
    <upload-grid *ngIf="activeTab === 'grid'"></upload-grid>
  </div>
</div>
