:host {
  position: sticky;
  top: 0;
  z-index: 2;
  margin: -0.5rem 0 -0.5rem;
}

.actions {
  display: flex;
  gap: 10px;
  visibility: hidden;
  padding: 10px 0 10px;
  background: rgb(229, 229, 229);
  // margin-bottom: 10px; // ??

  &_visible {
    visibility: visible;
  }

  &_unavailable {
    display: none;
  }
}

button .mat-icon {
  margin-right: 5px;
}
