.actions {
  position: sticky;
  top: 15px;
  display: flex;
  gap: 10px;
  z-index: 2;
  visibility: hidden;

  // margin-bottom: 10px; // ??

  &_visible {
    visibility: visible;
  }

  &_unavailable {
    display: none;
  }
}
