:host {
  display: contents;
}

.actions {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  gap: 10px;
  visibility: hidden;
  padding: 10px 0 10px;
  margin: -5px 0 -5px;
  background: rgb(229, 229, 229);

  &_visible {
    visibility: visible;
  }

  &_unavailable {
    display: none;
    margin: 0;
  }
}

button .mat-icon {
  margin-right: 5px;
}
