@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// regular style toast
@import '~ngx-toastr/toastr';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

mat-icon {
  min-width: min-content;
}

mat-form-field.form-no-bottom-padding {
  .mat-form-field-wrapper {
    padding-bottom: unset;

    .mat-form-field-underline {
      bottom: 0;
    }
  }
}

.md-fill-space {
  .mat-dialog-container {
    padding: 0;

    .mat-dialog-content {

      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}