<div class="navbar-container">
  <mat-toolbar class="navbar" color="primary">
    <!--<button [routerLink]="['/upload']" mat-raised-button>
      <mat-icon>upload_file</mat-icon>
      <span fxHide.xs fxShow>
        Upload
      </span>
    </button>-->
    <a [routerLink]="['/']" class="navbar-brand" matTooltip="Home">
      <h1>
        Stable Diffusion hub
      </h1>
    </a>
    <span class="navbar-spacer"></span>
    <button #trigger="cdkOverlayOrigin"
            (click)="userInfoIsOpen = true"
            cdkOverlayOrigin
            mat-button>
      <mat-icon>{{isAnonymous ? 'no_accounts' : 'person'}}</mat-icon>
      <span fxHide.xs fxShow>
        {{userName}}
      </span>
    </button>
  </mat-toolbar>


  <mat-sidenav-container class="navbar-sidenav-container" fxFlex style="background: #e5e5e5;">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="true" [mode]="'side'" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/upload']" routerLinkActive="active">
          <mat-icon mat-list-icon>upload_file</mat-icon>
          <p mat-line>Upload</p>
        </a>

        <h3 mat-subheader>Images/Albums/...</h3>
        <a mat-list-item [routerLink]="['/gen/search']" routerLinkActive="active">
          <mat-icon mat-list-icon>collections</mat-icon>
          <p mat-line>All</p>
        </a>

        <h3 mat-subheader>Models/Vae/...</h3>
        <div matTooltip="not implemented"
             matTooltipPosition="right">
          <a mat-list-item [routerLink]="['/bin/search']" routerLinkActive="active" disabled>
            <mat-icon mat-list-icon>folder_zip</mat-icon>
            <p mat-line>All</p>
          </a>
        </div>

        <mat-divider></mat-divider>

        <a mat-list-item [disabled]="isAnonymous" [routerLink]="['/user']" routerLinkActive="active">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>User</p>
        </a>
        <a mat-list-item href="https://wiki.diffai.xyz" target="_blank">
          <mat-icon mat-list-icon>auto_stories</mat-icon>
          <p mat-line>Wiki</p>
        </a>
        <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>info</mat-icon>
          <p mat-line>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template (backdropClick)="userInfoIsOpen = false"
             (detach)="userInfoIsOpen = false"
             [cdkConnectedOverlayHasBackdrop]="true"
             [cdkConnectedOverlayOpen]="userInfoIsOpen"
             [cdkConnectedOverlayOrigin]="trigger"
             cdkConnectedOverlay
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop">
  <div class="user-info-overlay">
    <ng-container *ngIf="isAnonymous; else authorized">
      <button [routerLink]="'/auth/login'" mat-raised-button>
        <mat-icon>login</mat-icon>
        Log in
      </button>
      <button *ngIf="registrationEnabled" [routerLink]="'/auth/register'" mat-raised-button>
        <mat-icon>person_add</mat-icon>
        Register
      </button>
    </ng-container>
    <ng-template #authorized>
      <div style="border-radius: .3rem; width: 100%; background-color: white;">
        <div style="margin: .3rem;">Login: {{userName}}</div>
      </div>
      <mat-divider></mat-divider>
      <button (click)="onLogoutClick()" mat-raised-button>
        <mat-icon>logout</mat-icon>
        Log out
      </button>
    </ng-template>
  </div>
</ng-template>
