.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
  gap: 1rem;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-info-overlay {
  background: rgb(229, 229, 229);
  border: black solid .1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .3rem;
  min-width: 15rem;
  border-radius: .3rem;
}

.active {
  background-color: #dcdcdc;
}

.nav-list {
  display: flex;
  flex-direction: column;
  min-height: stretch;
}
