.search-result-placeholder-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .8rem;
}

.add-new-card {
  cursor: pointer;

  .content {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-icon {
      line-height: 5rem;
      width: 5rem;
      height: 5rem;
      font-size: 5rem
    }
  }
}
